In [101]:
import numpy as np
import pandas as pd
from dateutil.parser import parse
from datetime import datetime
import re
from collections import Counter

In [2]:
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.1.2
{'system': {'commit': '2a7d3326dee660824a8433ffd01065f8ac37f7d6', 'python': '3.8.2.final.0', 'python-bits': 64, 'OS': 'Darwin', 'OS-release': '19.6.0', 'Version': 'Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64', 'machine': 'x86_64', 'processor': 'i386', 'byteorder': 'little', 'LC_ALL': None, 'LANG': 'pl_PL.UTF-8', 'LOCALE': {'language-code': 'pl_PL', 'encoding': 'UTF-8'}}, 'dependencies': {'pandas': '1.1.2', 'numpy': '1.18.4', 'pytz': '2020.1', 'dateutil': '2.8.1', 'pip': '20.1.1', 'setuptools': '46.4.0', 'Cython': None, 'pytest': None, 'hypothesis': None, 'sphinx': None, 'blosc': None, 'feather': None, 'xlsxwriter': None, 'lxml.etree': '4.5.2', 'html5lib': '1.1', 'pymysql': None, 'psycopg2': None, 'jinja2': '2.11.2', 'IPython': '7.16.1', 'pandas_datareader': '0.9.0', 'bs4': '4.9.1', 'bottleneck': None, 'fsspec': None, 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.2.1', 'numexpr': '2.7.1', 'odfpy': None, 'openpyxl': '3.0.3', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 'pyxlsb': None, 's3fs': None, 'scipy': '1.5.2', 'sqlalchemy': '1.3.19', 'tables': '3.6.1', 'tabulate': None, 'xarray': None, 'xlrd': '1.2.0', 'xlwt': None, 'numba': None}}
None

In [3]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [4]:
Series1 = pd.Series(mylist)

In [5]:
Series1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [6]:
series2 = pd.Series(myarr)

In [7]:
series2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [8]:
series3 = pd.Series(mydict)

In [9]:
series3

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [10]:
df = series3.to_frame().reset_index()

In [11]:
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [12]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [13]:
df = pd.concat([ser1, ser2], axis=1)

In [14]:
df

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

In [15]:
df = pd.DataFrame({'col1':ser1, 'col2':ser2})

In [16]:
df

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [17]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'), name='alphabet')

In [18]:
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabet, dtype: object

In [19]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [20]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [21]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [22]:
ser_u = pd.Series(np.union1d(ser1, ser2))

In [23]:
ser_i = pd.Series(np.intersect1d(ser1, ser2))

In [24]:
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [25]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [26]:
ser.min()

2.5578033982827284

In [27]:
ser.max()

18.652721203300366

In [28]:
ser.median()

10.061591431733282

In [29]:
ser.quantile(q=0.25)

7.84191975613278

In [30]:
ser.quantile(q=0.75)

12.10756042205427

In [31]:
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 2.5578034 ,  7.84191976, 10.06159143, 12.10756042, 18.6527212 ])

In [32]:
ser.quantile(q=[0, 0.25, 0.50, 0.75, 1])

0.00     2.557803
0.25     7.841920
0.50    10.061591
0.75    12.107560
1.00    18.652721
dtype: float64

In [33]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [34]:
ser

0     a
1     a
2     f
3     f
4     h
5     f
6     b
7     e
8     b
9     h
10    f
11    f
12    c
13    h
14    e
15    f
16    c
17    h
18    h
19    f
20    a
21    f
22    e
23    b
24    c
25    c
26    a
27    b
28    d
29    g
dtype: object

In [35]:
ser.value_counts()

f    8
h    5
c    4
b    4
a    4
e    3
d    1
g    1
dtype: int64

In [36]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [37]:
ser

0     4
1     4
2     2
3     2
4     3
5     4
6     1
7     2
8     1
9     2
10    2
11    4
dtype: int64

In [38]:
ser.value_counts()

2    5
4    4
1    2
3    1
dtype: int64

In [39]:
print('Top 2 freq', ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

Top 2 freq 2    5
4    4
1    2
3    1
dtype: int64

ser

In [40]:
ser

0         4
1         4
2         2
3         2
4     Other
5         4
6     Other
7         2
8     Other
9         2
10        2
11        4
dtype: object

In [41]:
ser = pd.Series(np.random.random(20))

In [42]:
my_bins = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']

In [43]:
pd.qcut(ser, q=[0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1],
      labels=my_bins)

0      6th
1      8th
2      2nd
3      5th
4      1st
5      9th
6      4th
7      7th
8      3rd
9      1st
10     5th
11     2nd
12    10th
13     4th
14     6th
15     8th
16     3rd
17     9th
18     7th
19    10th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [44]:
df

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

In [45]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [46]:
ser = ser.to_numpy().reshape((5, 7))

In [47]:
df = pd.DataFrame(ser)

In [48]:
df

   0  1  2  3  4  5  6
0  6  5  2  4  6  9  1
1  1  2  4  7  2  4  3
2  3  3  1  4  5  5  9
3  2  2  1  8  5  3  2
4  3  6  5  4  4  8  3

In [49]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [50]:
df = pd.DataFrame(ser.values.reshape(5, 7))

In [51]:
df

   0  1  2  3  4  5  6
0  2  7  2  3  1  5  1
1  9  9  1  9  3  2  6
2  3  1  9  1  9  3  8
3  6  8  8  1  1  2  2
4  4  1  4  7  5  8  1

In [52]:
ser = pd.Series(np.random.randint(1, 10, 7))

In [53]:
print(ser)

0    3
1    1
2    9
3    6
4    1
5    3
6    8
dtype: int64

In [54]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [55]:
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [56]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [57]:
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [58]:
df = pd.concat([ser1, ser2], axis=1)

In [59]:
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [60]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [61]:
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [62]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [63]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [64]:
truth.mean()

4.5

In [65]:
pred.mean()

5.032330471858223

In [66]:
np.mean((truth - pred)**2)

0.37582361640797785

In [67]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [68]:
ser.apply(lambda x: x.capitalize())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [69]:
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [70]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [71]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [72]:
ser1 = ser.diff()
ser1.diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64

In [73]:
ser1

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

In [74]:
print(ser.diff().to_list())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [75]:
print(ser.diff().diff().to_list())

[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [76]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [77]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [78]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

In [79]:
ser = pd.to_datetime(ser)

In [80]:
print('day:', ser.dt.day.to_list())

day: [1, 2, 3, 4, 5, 6]

In [81]:
ser.dt.isocalendar().week.to_list()

[53, 5, 9, 14, 19, 23]

In [82]:
ser.dt.dayofyear.to_list()

[1, 33, 63, 94, 125, 157]

In [83]:
ser_ts = ser.map(lambda x: parse(x))
print('Name of the day:', ser_ts.dt.weekday_name.to_list())  # different way but doesnt work

TypeError: Parser must be a string or character stream, not Timestamp

In [86]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

In [87]:
pd.to_datetime(ser, freq)

NameError: name 'freq' is not defined

In [88]:
ser_ts = ser.map(lambda x: parse('04 ' +  x))

ser_ts

In [89]:
ser_ts

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [90]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

In [106]:
vowels = ('a', 'c', 'e', 'i', 'o')

In [107]:
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list(vowels)]) >= 2)

In [109]:
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [110]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

In [117]:
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)

In [120]:
emails.str.findall(pattern, flags=re.IGNORECASE) # first solution

0                     []
1    [rameses@egypt.com]
2            [matt@t.co]
3    [narendra@modi.com]
dtype: object

In [121]:
mask = emails.map(lambda x: bool(re.match(pattern, x))) # second solution
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [122]:
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0] #third solution

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']