In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(np.random.randn(3,3))

In [6]:
df

          0         1         2
0  0.873358  0.058468 -0.996735
1  0.811588  0.737885 -1.748763
2  0.850258 -0.292505 -1.663856

In [7]:
def add1(x):
    return x + 1

In [8]:
df.applymap(add1)

          0         1         2
0  1.873358  1.058468  0.003265
1  1.811588  1.737885 -0.748763
2  1.850258  0.707495 -0.663856

In [9]:
df.applymap(lambda x:x+1)

          0         1         2
0  1.873358  1.058468  0.003265
1  1.811588  1.737885 -0.748763
2  1.850258  0.707495 -0.663856

In [11]:
df2 = pd.DataFrame({"A":['1.1B', '3.6B', '1.2B'],
                   "B":['1.3B', '3.9B', '1.3B'],
                   "C":['1.2B', '3.8B', '1.7B'],},
                  index = [1,2,3])

In [12]:
df2

      A     B     C
1  1.1B  1.3B  1.2B
2  3.6B  3.9B  3.8B
3  1.2B  1.3B  1.7B

In [13]:
df2.applymap(lambda x:x[:-1])

     A    B    C
1  1.1  1.3  1.2
2  3.6  3.9  3.8
3  1.2  1.3  1.7

In [15]:
myseries = pd.Series([100, 200, 300, 400, 500, 600, 700, 800, 900,np.nan])

In [16]:
myseries

0    100.0
1    200.0
2    300.0
3    400.0
4    500.0
5    600.0
6    700.0
7    800.0
8    900.0
9      NaN
dtype: float64

In [20]:
myseries.map(add1, na_action='ignore')

0    101.0
1    201.0
2    301.0
3    401.0
4    501.0
5    601.0
6    701.0
7    801.0
8    901.0
9      NaN
dtype: float64

In [21]:
myseries.map(lambda x: 'This is {}'.format(x))

0    This is 100.0
1    This is 200.0
2    This is 300.0
3    This is 400.0
4    This is 500.0
5    This is 600.0
6    This is 700.0
7    This is 800.0
8    This is 900.0
9      This is nan
dtype: object